* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  --text-color: #f8fcfb;
  --icon-color: #e0e0e5;
  --bg-color: #121214;
  --bg-icon: #323239;
  --bg-icon-hide: #02799D;
}

html.light {
  --bg-color: #f8fcfb;
  --text-color: #121214;
  --bg-icon: #e0e0e5;
  --icon-color: #121214;
}

body {
  background: var(--bg-color);
  color: var(--icon-color);
  display: grid;
  min-height: 100vh;
}

.toggle-mode {
  color: var(--text-color);
  position: absolute;
  top: 3.2rem;
  right: 3.2rem;
  font-size: 3.2rem;
  line-height: none;
}

main {
  justify-self: center;
  align-self: center;
  display: flex;
  gap: 19.2rem;
}

.timer {
  display: grid;
}

.time {
  display: flex;
  align-items: flex-end;
}

.time span {
  font-weight: 500;
  font-size: 12.6rem;
  line-height: 14.8rem;
}

button {
  background: var(--bg-color);
  color: var(--icon-color);
  font-size: 4.8rem;
  border: none;
  cursor: pointer;
}

button i {
  color: var(--text-color)
}

.buttons {
  display: flex;
  width: 4.8rem;
  height: 4.8rem;
  gap: 4rem;
}

.sounds {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 3.2rem;
}

.card {
  background: var(--bg-icon);
  border-radius: 2.4rem;
  width: 13.8rem;
  height: 15.2rem;
}

.running .ph-pause-circle,
html:not(.running) .ph-stop-circle {
  display: none;
}

html.light .ph-sun,
html:not(.light) .ph-moon {
  display: none;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  border: none;
  appaerance: none;
}

@media (max-width: 768px) {
  main {
    display: grid;
    padding: 3.2rem;
    width: auto;
    height: auto;
    gap: 5rem;
  }

  .timer {
    display: grid;
  }

  .time span {
    font-size: 10rem;
  }

  .buttons {
    gap: 1.8rem;
  }

  .card {
    width: 11.8rem;
    height: 13.2rem;
  }
  
  .sounds {
    grid-gap: 1rem;
  }
}